.container {
  position: relative;

  max-width: calc($s-container-width + $s-padding-container);

  margin: 0 auto;
  padding: 0 119px;


}
@include media-laptop () {
  .container {
    padding: 0 60px;
  }
}
@include media-tablet () {
  .container {
    padding: 0 25px;
  }
}
@include media-mobile-small () {
  .container {
    padding: 0 20px;
  }
}
