@import "../design-tokens/media-queries";
@import "../tools/media";

.contacts {
  margin-top: 120px;
  padding-bottom: 50px;
  &-title {
    text-align: center;

    color: #FFBE0B;
    filter: drop-shadow(0 0 6px #FFBE0B);

    font-family: "ALS Gorizont";
    font-size: 50px;
    font-weight: 700;
    font-style: normal;
    line-height: 50px;
  }
  &-block {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 60px;

    text-align: center;
    &_subtext {
      margin-bottom: 32px;

      color: #FFF;

      font-family: "Inter";
      font-size: 30px;
      font-weight: 300;
      font-style: italic;
      line-height: 36px;
    }
    &_tel {
      margin-bottom: 32px;

      color: #FFBE0B;
      outline: none;

      font-family: "Inter";
      font-size: 30px;
      font-weight: 500;
      font-style: normal;
      line-height: 36px;
      text-decoration-line: underline;
    }
    &_logo {
      margin-bottom: 60px;

      color: #FFBE0B;
      filter: drop-shadow(0 0 6px #FFBE0B);

      font-family: "Inter";
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      line-height: 30px;
    }
    &_bigtext {
      color: #272727;

      text-shadow: 1px 1px 0 #FFBE0B, 1px -1px 0 #FFBE0B, -1px 1px 0 #FFBE0B, -1px -1px 0 #FFBE0B;
      filter: drop-shadow(0 0 6px #FFBE0B);

      font-family: "ALS Gorizont";
      font-size: 50px;
      font-weight: 700;
      font-style: normal;
      line-height: 50px;
    }
  }
}

@include media-laptop () {

}
@include media-tablet-horizontal () {
  .contacts-block{
    margin-top: 30px;
  }
  .contacts-title {
    font-size: 40px;
    line-height: 40px;
  }
  .contacts-block_subtext {
    margin-bottom: 15px;

    font-size: 25px;
  }
  .contacts-block_logo {
    margin-bottom: 30px;
  }
}
@include media-tablet () {
  .contacts {
    margin-top: 60px;
  }
  .contacts-block_bigtext {
    font-size: 40px;
    line-height: 40px;
  }
}
@include media-mobile (){
  .contacts-title {
    font-size: 30px;
    line-height: 30px;
  }
  .contacts-block {
    margin-top: 15px;
  }
  .contacts-block_tel {
    margin-bottom: 15px;
  }
  .contacts-block_bigtext {
    font-size: 30px;
    line-height: 30px;
  }
}
@include media-mobile-small (){

}

