@import "../design-tokens/media-queries";
@import "../tools/media";
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: box;
  display: flexbox;
  display: flex;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  justify-content: center;

  text-align: center;

  background: none;

  font-size: 18px;
  box-pack: center;
  flex-pack: center;
  box-align: center;
  flex-align: center;
}

.swiper-slide img {
  display: block;

  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-slider {
  height: 355px;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev{
  background-image: url("../assets/images/arrow-right.png");
  background-repeat: no-repeat;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-prev{
  background-image: url("../assets/images/arrow-left.png");
  background-repeat: no-repeat;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.swiper-button-next,
.swiper-button-prev {
  width: 29px;
}

.project {
  position: relative;

  margin-top: 120px;
  &-title {
    text-align: center;
    &_text {
      color: #FFBE0B;
      filter: drop-shadow(0 0 6px #FFBE0B);

      font-family: "ALS Gorizont";
      font-size: 50px;
      font-weight: 700;
      font-style: normal;
      line-height: 50px;
    }
  }

  .project-slider {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 541px;

    .swiper-slide {
      .project-block {
        display: flex;
        align-items: center;
        flex-direction: column;
        img {
          max-width: 263px;
          max-height: 388px;
        }
        p {
          margin-top: 15px;

          text-align: center;

          color: #FFF;

          font-family: "Inter";
          font-size: 20px;
          font-weight: 500;
          font-style: normal;
          line-height: 26px;


        }
        span {
          color: #FFBE0B;

        }
      }

    }
  }


  &-text {
    position: absolute;
    top: 0;
    right: 0;

    transform: translate(125px, 335px) rotate(90deg);
    text-transform: uppercase;

    color: #000;
    text-shadow: 1px 1px 0 #FFBE0B, 1px -1px 0 #FFBE0B, -1px 1px 0 #FFBE0B, -1px -1px 0 #FFBE0B;
    filter: drop-shadow(0 0 6px #FFBE0B);

    font-family: "ALS Gorizont";
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    line-height: 50px;
  }
}
.mySwiper2 {
  max-width: 380px;
  .swiper-slide {
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 378px;
    max-height: 510px;

    border: 1px solid #FFBE0B;
  }
}
.mySwiper3 {
  max-width: 380px;
  .swiper-slide {
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 378px;
    max-height: 510px;

    border: 1px solid #FFBE0B;
  }
}
.mySwiper4 {
  max-width: 380px;
  .swiper-slide {
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 378px;
    max-height: 510px;

    border: 1px solid #FFBE0B;
  }
}
.mySwiper5 {
  max-width: 380px;
  .swiper-slide {
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 378px;
    max-height: 510px;

    border: 1px solid #FFBE0B;
  }
}
.mySwiper6 {
  max-width: 380px;
  .swiper-slide {
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 378px;
    max-height: 510px;

    border: 1px solid #FFBE0B;
  }
}
.mySwiper7 {
  max-width: 380px;
  .swiper-slide {
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 378px;
    max-height: 510px;

    border: 1px solid #FFBE0B;
  }
}
.d-none-adapt {
  display: none;
}


@include media-custom(1400px) {
  .swiper-wrapper {

  }
  .swipe-adapt {
    display: flex;
    flex-direction: column;
  }
  .swiper {
    max-width: 760px;
    height: 1680px;

  }

  .project .project-slider {
    height: 100%;
  }
  .mySwiper2 {
    margin-bottom: 40px;
    .swiper {
      height: 100%;
    }

  }
  .mySwiper3 {
    margin-bottom: 40px;
    .swiper {
      height: 100%;
    }
  }
  .mySwiper3 {
    margin-bottom: 40px;
    .swiper {
      height: 100%;
    }
  }
  .mySwiper5 {
    margin-bottom: 40px;
    .swiper {
      height: 100%;
    }
  }
  .mySwiper6 {
    margin-bottom: 40px;
    .swiper {
      height: 100%;
    }
  }
  .project .project-slider .swiper-slide .project-block img {
    max-height: 376px;
  }

}
@include media-laptop () {

}
@include media-tablet-horizontal () {
  .project-text {
    display: none;
  }
  .project-title_text {
    font-size: 40px;
  }
  .swiper {
    max-width: 380px;

  }
  .swipe-adapt {
    justify-content: flex-start;

  }
}
@include media-tablet () {
  .project {
    margin-top: 60px;
  }
  .project-title_text {
    font-size: 35px;
    line-height: 35px;
  }

}
@include media-mobile (){
  .project .project-slider {
    display: none;
  }
  .d-none-adapt {
    display: block;
    .swiper-slide img {
      height: 400px;
    }
    p {
      margin-top: 15px;

      text-align: center;

      color: #FFF;

      font-family: "Inter";
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      line-height: 26px;


    }
    span {
      color: #FFBE0B;

    }


  }
  .project-title_text {
    font-size: 30px;
    line-height: 30px;
  }
  .swiper-slide {
    border: none !important;
  }
}
@include media-mobile-small (){

}

