.header#header
    .container
        .header-content 
            .header__logo 
                a(href="/").header__logo_link team-remont
            .header__block 
                p.header__block_text Работаем без выходных
                a(href="tel:74991309858").header__block_tel +74991309858