.contacts.element-animation 
    .container
        h2.contacts-title.element-animation  
            | Как с нами связаться
        .contacts-block.element-animation  
            p.contacts-block_subtext
                | Работаем без выходных
            a(href="tel:74991309858").contacts-block_tel
                | +74991309858
            p.contacts-block_logo 
                | tema-remont 
            p.contacts-block_bigtext 
                | РЕМОНТ ДОМОВ И КВАРТИР