.info
    .info-content 
        .info-title.element-animation
            h2.info-title_text 
                | Почему нас выбрали <span>более 100</span> человек?
        .info-container 
            .info-container__block.element-animation 
                p.info-container__block_number 
                    | 01
                h3.info-container__block_title 
                    | Качество
                p.info-container__block_text 
                    | Выполняем работы как своими, 
                    | так вашими материалами.
                    | Даем 1 год гарантии!
            .info-container__block.element-animation 
                p.info-container__block_number 
                    | 02
                h3.info-container__block_title 
                    | Скорость
                p.info-container__block_text 
                    | Срок выполнения работ - 1-2 месяца.

            .info-container__block.element-animation 
                p.info-container__block_number 
                    | 03
                h3.info-container__block_title 
                    | Доступность
                p.info-container__block_text 
                    | Наши цены на 15% ниже среднерыночных !
            .info-container__block.element-animation 
                p.info-container__block_number 
                    | 04
                h3.info-container__block_title 
                    | Нет предоплат
                p.info-container__block_text 
                    | Мы не берём предоплаты за выполнение работ.


