.info 
    .info-content 
        .info-title
            h2.info-title_text 
                | Почему нас выбрали <span>более 100</span> человек?
        .info-container 
            .info-container__block 
                p.info-container__block_number 
                    | 01
                h3.info-container__block_title 
                    | Качество
                p.info-container__block_text 
                    | Мы используем только качественные
                    | материалы, чтобы вы могли еще долгое время наслаждаться и радоваться
                    | благоприятным видом вашего дома или вашей квартиры.
            .info-container__block 
                p.info-container__block_number 
                    | 02
                h3.info-container__block_title 
                    | Скорость
                p.info-container__block_text 
                    | Мы отличаемся скоростью на рынке, поэтому Вы будете непременно удивлены тому,
                    | как мы обрадуем вас не только красивым ремонтом, 
                    | но и скорым выполнением ремонта.

            .info-container__block 
                p.info-container__block_number 
                    | 03
                h3.info-container__block_title 
                    | Доступность
                p.info-container__block_text 
                    | Мы предлагаем нашим клиентам услугу
                    | за доступную цену, именно поэтому наши клиенты рекламируют нас своим знакомым
                    | и друзьям. Наши цены на 10% ниже рынка.


