.modal
    .modal-container
        .modal-content 
            .modal-body 
                .modal-body__title 
                    .modal-body__title_text 
                        | Оставьте номер телефона<br> 
                        | и мы Вам перезвоним
                form(action="#").modal-form
                    .modal-form__block 
                         p.modal-form__block_text 
                            | Ваше имя
                         input(type='text' placeholder='Имя' name='name').modal-form__block_input
                    .modal-form__block 
                         p.modal-form__block_text 
                            | Ваш номер телефона
                         input(type='phone' placeholder='+7(000)00 00 00' name='email').modal-form__block_input
                    .modal-form__button 
                        button(type="submit" name="submit").modal-form__btn
                            | Заказать звонок
            .modal-close
                | ×
