.offer.element-animation 
    .offer-title
        h2.offer-title_text 
            | Что мы вам предлагаем?
    .offer-content  
        .offer-content__block 
            img(src="assets/images/variant-1.png").offer-content__block_img
            p.offer-content__block_title 
                | Косметический ремонт
            p.offer-content__block_text 
                | от 3000 руб. м²
        .offer-content__block 
            img(src="assets/images/variant-2.png").offer-content__block_img
            p.offer-content__block_title 
                | Дизайнерский ремонт
            p.offer-content__block_text 
                | от 7000 руб. м²
    .offer-button 
        a(data-toggle="btn").offer-button_link
            | оставить заявку
    p.offer_text
        | РЕМОНТ ДОМОВ И КВАРТИР