.proces
    .container 
        .proces-content 
            h2.proces-title 
                | Как происходит процесс работы
            .proces-container 
                .proces-block 
                    .proces-block__item
                        .proces-block__item-top
                            .proces-block__item-top__circle 
                                span.proces-block__item_number 
                                    | 01
                            p.proces-block__item-top_text 
                                | заявка 
                        p.proces-block__item_text
                            | Вы оставляете заявку или звоните нам, после<br> этого мы назначаем с Вами встречу, где<br> проконсультируем Вас по всем вопросам.
                    img(src="assets/images/Arrow.svg").proces-block_img
            .proces-block.proces-block--end
                .proces-block__item
                    .proces-block__item-top
                        .proces-block__item-top__circle 
                            span.proces-block__item_number 
                                | 02
                        p.proces-block__item-top_text 
                            | Встреча и консультация
                    p.proces-block__item_text
                        | На встрече мы обговариваем все<br> 
                        | моменты и выявляем, какой<br> 
                        | ремонт Вам нужен.
                
            .proces-block 
                .proces-block__item
                    .proces-block__item-top
                        .proces-block__item-top__circle 
                            span.proces-block__item_number 
                                | 03
                        p.proces-block__item-top_text 
                            | Коммерческое предложение
                    p.proces-block__item_text
                        | Далее мы заключаем с Вами<br> коммерческое предложение,<br> устанавливаем сроки.
                img(src="assets/images/Arrow.svg").proces-block_img
            .proces-block.proces-block--end 
                .proces-block__item
                    .proces-block__item-top
                        .proces-block__item-top__circle 
                            span.proces-block__item_number 
                                | 04
                        p.proces-block__item-top_text 
                            | оплата
                    p.proces-block__item_text
                        | Оплата  без предоплаты, расчёт<br> производится после каждого этапа. 
                
            .proces-block 
                .proces-block__item
                    .proces-block__item-top
                        .proces-block__item-top__circle 
                            span.proces-block__item_number 
                                | 05
                        p.proces-block__item-top_text 
                            | работа в 3 этапа
                    p.proces-block__item_text
                        | Работу выполняем в 3 этапа -<br> черновой, чистовой и подчистовой. 
                img(src="assets/images/Arrow.svg").proces-block_img
            .proces-block.proces-block--end
                .proces-block__item
                    .proces-block__item-top
                        .proces-block__item-top__circle 
                            span.proces-block__item_number 
                                | 06
                        p.proces-block__item-top_text 
                            | сдача проекта + оплата
                    p.proces-block__item_text
                        | Мы представляем Вам проделанную<br> работу, вы производите последнюю<br> оплату.