.project
    .project-title 
        h2.project-title_text 
            | Более 100 выполненных проектов
    .container 
        .project-slider 
            .swiper.mySwiper 
                .swiper-wrapper 
                    .swiper-slide.swipe-adapt  
                        .swiper.mySwiper2
                            .swiper-wrapper 
                                .swiper-slide 
                                    .project-block 
                                        img(src="assets/images/foto/1.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide 
                                    .project-block 
                                        img(src="assets/images/foto/3.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/6.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/7.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                
                            .swiper-button-next
                            .swiper-button-prev
                        .swiper.mySwiper3 
                            .swiper-wrapper 
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/4.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/5.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/8.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/9.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                
                            .swiper-button-next
                            .swiper-button-prev
                        .swiper.mySwiper4 
                            .swiper-wrapper 
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/2-2.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/2-1.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/2-3.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/2-4.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                
                            .swiper-button-next
                            .swiper-button-prev
                    .swiper-slide.swipe-adapt  
                        .swiper.mySwiper5 
                            .swiper-wrapper 
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/15.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/10.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/11.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/12.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                
                            .swiper-button-next
                            .swiper-button-prev
                        .swiper.mySwiper6 
                            .swiper-wrapper 
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/2-7.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/2-5.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/13.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                
                            .swiper-button-next
                            .swiper-button-prev
                        .swiper.mySwiper7 
                            .swiper-wrapper 
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/2-8.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide 
                                    .project-block 
                                        img(src="assets/images/foto/2-9.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/2-10.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/14.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                
                            .swiper-button-next
                            .swiper-button-prev
        .d-none-adapt 
            .swiper.mySwiper.d-none-adapt 
                .swiper-wrapper 
                    .swiper-slide.swipe-adapt  
                        .swiper.mySwiper2
                            .swiper-wrapper 
                                .swiper-slide 
                                    .project-block 
                                        img(src="assets/images/foto/1.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide 
                                    .project-block 
                                        img(src="assets/images/foto/3.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/6.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/7.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                
                            .swiper-button-next
                            .swiper-button-prev
                        .swiper.mySwiper3 
                            .swiper-wrapper 
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/4.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/5.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/8.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/9.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                
                                
                            .swiper-button-next
                            .swiper-button-prev
                        .swiper.mySwiper4 
                            .swiper-wrapper 
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/2-2.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/2-1.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/2-3.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/2-4.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                
                            .swiper-button-next
                            .swiper-button-prev
                    .swiper-slide.swipe-adapt  
                        .swiper.mySwiper5 
                            .swiper-wrapper 
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/15.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/10.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/11.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/12.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                
                            .swiper-button-next
                            .swiper-button-prev
                        .swiper.mySwiper6 
                            .swiper-wrapper 
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/2-7.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/2-5.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                .swiper-slide
                                    .project-block  
                                        img(src="assets/images/foto/13.jpg")
                                        p.project-block_elem
                                            <span>Квадратура</span> - от 60 м
                                            <br>
                                            <span>Срок</span> - 1-1,5 месяца
                                
                            .swiper-button-next
                            .swiper-button-prev
                        .swiper.mySwiper7 
                                .swiper-wrapper 
                                    .swiper-slide
                                        .project-block  
                                            img(src="assets/images/foto/2-8.jpg")
                                            p.project-block_elem
                                                <span>Квадратура</span> - от 60 м
                                                <br>
                                                <span>Срок</span> - 1-1,5 месяца
                                    .swiper-slide 
                                        .project-block 
                                            img(src="assets/images/foto/2-9.jpg")
                                            p.project-block_elem
                                                <span>Квадратура</span> - от 60 м
                                                <br>
                                                <span>Срок</span> - 1-1,5 месяца
                                    .swiper-slide
                                        .project-block  
                                            img(src="assets/images/foto/2-10.jpg")
                                            p.project-block_elem
                                                <span>Квадратура</span> - от 60 м
                                                <br>
                                                <span>Срок</span> - 1-1,5 месяца
                                    .swiper-slide
                                        .project-block  
                                            img(src="assets/images/foto/14.jpg")
                                            p.project-block_elem
                                                <span>Квадратура</span> - от 60 м
                                                <br>
                                                <span>Срок</span> - 1-1,5 месяца
                                    
                                .swiper-button-next
                                .swiper-button-prev
    p.project-text
        | tema-remont 

