.promo 
    .container 
        .promo-content 
            .promo-center 
                h1.promo-center_title 
                    | Получите бесплатный расчет<br> стоимости ремонта
                h2.promo-center_text 
                    | Ремонт квартир, домов, офисов, помещений любого назначения
                .promo-center_link
                    a(href="/") заказать звонок
            .promo-plug 
                .promo-plug__block 
                    p.promo-plug__block_number 
                        | 100+ 
                    p.promo-plug__block_text
                        | выполненных<br>
                        | проектов 
                .promo-plug__block 
                    p.promo-plug__block_number 
                        | 50+ 
                    p.promo-plug__block_text
                        | человек<br> 
                        | в команде 
                .promo-plug__block 
                    p.promo-plug__block_number 
                        | 10+ 
                    p.promo-plug__block_text
                        | лет<br>
                        | опыта
        img(src="assets/images/promo-fon.png").promo-fon    