* {
  -webkit-tap-highlight-color: transparent;

  // outline: 1px red solid;
  &:active,
  &:focus {
    // -webkit-tap-highlight-color: transparent;

    outline: none;
  }
}

body {
  position: relative;

  min-width: 320px;
  min-height: 100vh;

  background: #2C2C2C;

  font-family: $main-font;
}

main {
  position: relative;

  flex-grow: 1;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}

