extend ./layouts/base 

block header
  include includes/header

block footer
  include includes/footer

block content
  include includes/components/loader
  include includes/components/promo
  include includes/components/info
  include includes/components/offer
  include includes/components/project
  include includes/components/proces
  include includes/components/contacts
  include includes/components/modal
  


  
