include ../mixins/_mixins

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- title
    block title
      title team-remont
    //- description
    meta(name="description" content="team-remont")
    //- preview image
    meta(property="og:image" content="")
    meta(property="og:image:width" content="600")
    meta(property="og:image:height" content="315")
    //- favicon
    link(rel="icon" type="image/png" href="./images/favicon/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="./images/favicon/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="./images/favicon/favicon-96x96.png" sizes="96x96")
    //- only android and chrome
    meta(name="theme-color" content="#222222")

      //- text-numbers
    meta(name="format-detection" content="telephone=no")
    meta(name="format-detection" content="date=no")
    meta(name="format-detection" content="address=no")
    meta(name="format-detection" content="email=no")
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    block styles
    link(rel="stylesheet" href="./css/loader.min.css")
    link(rel="stylesheet" href="./css/style.min.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

  body
    //- header
    block header
    main
      block content
      

    //- footer
    block footer
    .modal-opac

    //- scripts 
    block scripts
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")    
    script(src="./js/index.js")